.tableBookingPageForm {
    align-items: center;
    background-color: var(--bh-color-brand-primary);
    flex-direction: column;
    min-height: calc(var(--bh-size-dimension-spacing-6) * 5);
    width: 100%;
    justify-content: space-between;
}

.actionButton,
.resetButton,
.submitButton {
    flex: 1 1 0;
    min-width: 7rem;
    max-width: 10rem;
}
