.menu {
  display: flex;
  background-color: var(--bh-color-brand-secondary);
  color: var(--bh-color-text-dark);
  font: var(--bh-typography-link-navigation);
  gap: var(--bh-size-dimension-spacing-4);
  padding: var(--bh-size-dimension-spacing-4);
  flex-direction: var(--bh-layout-flex-direction-row);
  align-items: var(--bh-layout-flex-align-space-between);
  flex-wrap: var(--bh-layout-flex-wrap-wrap);
}
