.textfield {
    border: 1px solid var(--bh-color-border-secondary);
    border-radius: var(--bh-size-dimension-border-radius-rounded-2);
    box-sizing: border-box;
    color: var(--bh-color-text-dark);
    font: var(--bh-typography-body);
    padding: var(--bh-size-dimension-spacing-2)
        var(--bh-size-dimension-spacing-3);
    text-align: var(--bh-layout-flex-align-center);
    transition: border-color 0.2s;
    width: 100%;
}

.textfield:disabled,
.textfield[readonly] {
    background-color: var(--bh-color-background-primary);
    border: var(--bh-size-dimension-border-0);
    border-radius: var(--bh-size-dimension-border-radius-rounded-2);
    cursor: not-allowed;
    font-size: var(--bh-size-font-heading-title2);
    font-weight: var(--bh-weight-font-heading-title1);
    height: var(--bh-size-dimension-spacing-6);
    margin-bottom: var(--bh-size-dimension-spacing-1);

    /* color: var(--bh-color-text-disabled); */
    min-width: var(--bh-size-dimension-spacing-1);
    text-align: var(--bh-layout-flex-align-center);
}

.label {
    color: var(--bh-color-text-dark);
    display: flex;
    font: var(--bh-typography-body);
    justify-content: var(--bh-layout-flex-justify-center);
    margin-top: var(--bh-size-dimension-spacing-1);
    text-align: var(--bh-layout-flex-align-center);
    width: 100%;
}

.errorMessage {
    color: var(--bh-color-semantic-error);
    font-size: var(--bh-size-dimension-spacing-3);
    margin-top: var(--bh-size-dimension-spacing-1);
}
