.form {
  display: flex;
  color: var(--bh-color-text-dark);
  font: var(--bh-typography-link-navigation);
  gap: var(--bh-size-dimension-spacing-4);
  padding: var(--bh-size-dimension-spacing-4);
}

/* layout */
.form--column {
  flex-direction: var(--bh-layout-flex-direction-column);
}

.form--row {
  flex-direction: var(--bh-layout-flex-direction-row);
  align-items: var(--bh-layout-flex-align-center);
  flex-wrap: var(--bh-layout-flex-wrap-wrap);
}

/* state */
.form--state-error {
  border-color: var(--bh-color-semantic-error);
}

.form--state-success {
  border-color: var(--bh-color-semantic-success);
}
