.map {
    margin-top: var(--bh-size-dimension-spacing-6);
}

.map,
.map * {
    height: 50vh;
    max-width: 100%;
    width: 100%;
}

@media screen and (width >= 768px) {
    section > .box {
        width: 60%;
    }

    .map,
    .map * {
        height: 70vh;
        width: 90%;
    }
}
