.map,
.map * {
  width: 100%;
  height: 50vh;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  section > .box {
    width: 60%;
  }

  .map,
  .map * {
    width: 90%;
    height: 70vh;
  }
}
