.navbarMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbarMenuItem {
  margin-left: 0 var(--bh-size-dimension-spacing-4);
  padding: var(--bh-size-dimension-spacing-3) var(--bh-size-dimension-spacing-4);
  font: var(--bh-typography-title3);
  color: var(--bh-color-text-dark);
  text-decoration: none;
}
