datepickerWithRange {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.inputWrapper {
    position: relative;
    width: 100%;
}
.textfield {
    background-color: var(--bh-color-background-light);
    border: var(--bh-size-dimension-border-1) solid
        var(--bh-color-border-primary);
    border-radius: var(--bh-size-dimension-border-radius-rounded-3);
    box-sizing: border-box;
    color: var(--bh-color-text-dark);
    font: var(--bh-typography-body);
    padding: var(--bh-size-dimension-spacing-2);
    padding-left: 2.5rem;
    width: 100%;
}
.calendarIcon {
    left: 0.75rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.requiredIndicator {
    color: var(--bh-color-semantic-error);
}
.label {
    color: var(--bh-color-text-dark);
    display: flex;
    font: var(--bh-typography-body);
    justify-content: var(--bh-layout-flex-justify-left);
    margin-top: var(--bh-size-dimension-spacing-1);
    width: 100%;
}
