.link {
    margin: var(--bh-size-dimencion-spacing-0);
    padding: var(--bh-size-dimencion-spacing-0);
}

.link--standalone {
    display: block;
    font: var(--bh-typography-link);
    line-height: var(--bh-size-line-height-link);
    margin-bottom: var(--bh-size-dimencion-spacing-4);
    text-decoration: underline;
}

.link--inline {
    font: var(--bh-typography-link);
    line-height: var(--bh-size-line-height-link);
    text-decoration: underline;
}

.link--navigation {
    font: var(--bh-typography-link-navigation);
    font-stretch: var(--bh-stretch-font-link-navigation);
}

.link--dark {
    color: var(--bh-color-link-dark);
}

.link--light {
    color: var(--bh-color-link-light);
}

.link--medium {
    color: var(--bh-color-link-medium);
}
