.link {
  margin: var(--bh-size-spacing-zero);
  padding: var(--bh-size-spacing-zero);
}

.link-standalone {
  display: block;
  font: var(--bh-typography-link);
  line-height: var(--bh-size-line-height-link);
}

.link-inline {
  font: var(--bh-typography-link);
  line-height: var(--bh-size-line-height-link);
  text-decoration: underline;
}

.link-navigation {
  font: var(--bh-typography-link-navigation);
  font-stretch: var(--bh-stretch-font-link-navigation);
}

.link-dark {
  color: var(--bh-color-link-dark);
}

.link-light {
  color: var(--bh-color-link-light);
}

.link-medium {
  color: var(--bh-color-link-medium);
}
