.imageCard {
  display: flex;
  align-items: var(--bh-layout-flex-align-center);
  justify-content: var(--bh-layout-flex-justify-center);
  height: 100%;
  padding: var(--bh-size-dimension-spacing-4);
  border-radius: var(--bh-size-dimension-border-radius-rounded-4);
  background-color: var(--bh-color-brand-primary);
}

.image {
  max-width: 100%;
  width: 100%;
  height: auto;
}
