.brand {
    align-items: center;
    display: flex;
    height: calc(
        var(--bh-size-dimension-spacing-3) +
            var(--bh-size-dimension-spacing-4) +
            var(--bh-size-dimension-spacing-8)
    );
    justify-content: center;
    text-decoration: none;
    width: calc(
        var(--bh-size-dimension-spacing-3) +
            var(--bh-size-dimension-spacing-4) +
            var(--bh-size-dimension-spacing-8)
    );
}

.brand img {
    max-width: 100%;
}
