.icon {
  display: flex;
}

.icon-sm {
  width: var(x--bh-size-dimension-spacing-4);
  height: var(--bh-size-dimension-spacing-4);
}

.icon-md {
  width: var(--bh-size-dimension-spacing-6);
  height: var(--bh-size-dimension-spacing-6);
}
